.venue-row:hover {
  cursor: pointer;
}

.venue-editor_modal-container {
  padding: 20px;
  overflow-y: auto;
  display: flex;
  justify-content: center;

  .venue-editor_minimum-width {
    max-width: 650px;
  }

  .venue-editor_bottom-padding {
    margin-top: 50px;
  }
}
